*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --g3: rgb(31, 31, 31);
    --g2: rgb(21, 21, 21);
    --g1: rgb(239, 239, 239);
    --g0: rgb(255, 255, 255);
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--g1);
    font-family: Arial;
}

h1{
    text-align: center;
    margin: 30px;
    color: var(--g2);
}

.cards2{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

.cards2 .card{
    width: 300px;
    height: 300px;
    margin: 2px;
    padding: 10px;

    background: rgb(100, 68, 215);
    box-shadow:  0 10px 12px rgba(0, 0, 0, 0.181);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 6px;

    color: rgb(254, 254, 254);
}

.cards2 .card p{
   text-align: center;
   width: 220px;
   margin-top: 30px;
   margin-bottom: 30px;
   line-height: 1.5;
   font-size: 15px;
}

.cards2 .card h2{
    font-size: 25px;
}

.cards2 .card .btns{
    display: inline;
}

.cards2 .card button{
    background-color: var(--g0);
    border: none;
    width: 100px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    color: var(--g2);
    font-weight: 700;

    border: none;
}

.cards2 .card button:hover{
    background-color: rgb(223, 223, 223);
}


.cards2 .card h2::before{
    content: attr(data-attr);
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
}

.menu ul{
    list-style: none;

    width: 45px;
    height: 45px;
    overflow: hidden;
    transition: 0.5s;

    box-shadow:  0 0 12px rgba(0, 0, 0, 0.345);
}

.menu ul:hover{
    width: 130px;
    height: 250px;
    transition: 0.5s;
    
}

.menu ul li{
    width: 130px;
    height: fit-content;
    position: relative;
}

.menu ul li a:hover{
    color: rgb(100, 68, 215);
    background-color: rgb(255, 255, 255);
}

.menu ul li a:hover::before{
    filter: invert(0);
    content:url('/img/ico.svg');
}

.menu ul li a{
    text-decoration: none;
    font-family: Arial;

    background-color: rgb(100, 68, 215);
    color: var(--g0);

    padding: 15px;

    display: flex;
    align-items: center;
    position: relative;

}

.menu ul li a::before{
    content:url('/img/ico.svg');
    filter: invert(1);
    width: 20px;
    height: 20px;
    margin-right: 10px;

    display: flex;
    padding: 2px;
    justify-content: center;
}

.line{
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.208);
    margin: 50px auto 50px auto;
}

.form{
    height: fit-content;
    width: 80%;
    margin: 10px auto 10px auto;
}
.form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form .col{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.form label{
    position: relative;
    right: 20px;
    margin: 15px;
    font-family: Arial;

}

.form input{
    width: 150px;
    height: 24px;
    border: rgba(0, 0, 0, 0.605) 1px solid;
    border-radius: 4px;
    padding-left: 10px;
}

.form .col input[type=checkbox]{
    width: 15px;
    height: 15px;  
    margin: 5px 0 0 0;
}

.form .col input[type=checkbox]::after{

    content: attr(data-skill);
    margin-left: 20px;
}


.form .col.skills{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    margin: 10px;
    padding: 20px;
    position: relative;
}


.form .col.skills textarea{
    resize: none;
    width: 150px;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    
    border-radius: 6px;

}

.col-g{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.test{
    width: 100%;
    height: fit-content;
    padding: 20px;
}

.test h1{
    margin: 0;
    text-align: start;
    margin-left: 10vh;
}

.test h2{
    margin: 0;
    text-align: start;
    margin-left: 10vh;

    border-bottom: 5px solid rgba(0, 255, 115, 0.6);
    width: fit-content;
    line-height: 1.9;
    color: rgb(63, 63, 63);
}

.content{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content input[type=number]{
    border-radius: 5px;
    border: none;
    height: 25px;
    outline: none;
    padding-left: 10px;
}

.cartao{
    background-color: rgb(134, 69, 203);
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow:  0 0 14px rgba(58, 58, 58, 0.29);
    border: 2px solid rgba(255, 255, 255, 0.808);
    margin: 20px;
    color: #fff;
}

.cartao h3{
    text-align: center;
}

.black-200{
    width: 100%;
    height: 100vh;
    background-color: rgb(36, 40, 45);
    display: flex;
    align-items: center;
    justify-content: center;
}

.retangle{
    height: 650px;
    width: 350px;
    background-color: rgb(16, 16, 16);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.retangle .btn-c:active{
    box-shadow: inset rgb(0, 0, 0) 0px 4px 4px 1px, inset -5px -4px 5px 0.1px rgb(29, 29, 29),
     rgb(15, 15, 15) 0px 4px 4px 0.2px;
}

.retangle .btn-c:active img{
    transform: scale(0.95);
}

.retangle .btn-c{
    bottom: 7.5px;
    height: 50px;
    width: 50px;
    background-color: rgb(16, 16, 16);
    border-radius: 100%;
    border: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(0, 0, 0) 0px 4px 3px 1px, -2px -2px 3px 0.1px rgb(29, 29, 29), inset 0 0 3px rgb(18, 18, 18);
 
    cursor: pointer;
}

.retangle .interno{
    height: 560px;
    width: 335px;

    box-shadow: inset black 0 0 10px, rgb(30, 30, 30) 0 0 5px;

    background-color: #000000;

    margin-bottom: 40px;
    border-radius: 5px;

    transform-style: preserve-3d;
    perspective: 5;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    perspective: 10em;
    perspective-origin: 50% calc(50% - 2em);

    overflow: hidden;

}

.interno-2{
    filter: brightness(10) sepia(2) hue-rotate(10deg) contrast(1.5) invert(1);
}


.floor{


    transform:
    rotateX(95deg);

    position: sticky;

    bottom: 0;

    width: 300px;
    height: 600px;

    background-image: 

    radial-gradient(#0000, #000 50%),
    
    repeating-conic-gradient(
    from 45deg,
    #111 0deg 90deg, 
    #222 90deg 180deg);

    background-size: 100%, 1em 1em;
}


.cube{
    width: 5em;
    height: 5em;

    transform-style: preserve-3d;
    position: absolute;

    bottom: 40%;
    left: 45%;
    top: 300px;

    transition: 1s;
}


.cube .left,
.cube .right,
.cube .front,
.cube .back{

    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 0, 0, 0.427);

    box-shadow: 0 0 0.5em #000a inset;
}

.cube .front{ transform: translateZ(2.5em); }
.cube .right{ transform:  rotateY(90deg) translateZ(2.5em); }
.cube .back{ transform:  rotateY(180deg) translateZ(2.5em); }
.cube .left{ transform:  rotateY(270deg) translateZ(2.5em); }

.cube .top{
    position: absolute;

    width: 2em;
    height: 2em;

    transform: translateY(-50%) translateX(75%) rotateX(90deg) scale(2.5);

    background-color: rgba(255, 0, 0, 0.427);

}

.cube .bottom{
    position: absolute;
    
    width: 2em;
    height: 2em;

    background-color: #0007;

    bottom: 0;
    transform: translateY(50%) rotateX(90deg);

    box-shadow:  0 0 0.5em #000 inset;
}

#p, #q{
    margin: 0px 0px 30px 0px;
    border: rgb(118, 118, 118) 1px dashed;
    padding: 10px;
}

.retangle .btn-c img{
    filter: invert(0.3);
    width: 20px;
    height: 20px;
}

.callback{
    height: 100vh;
}


#seunomeresult{
    user-select: none;
    pointer-events: none;
    border: none;
    background-color: transparent;
    text-align: center;
}


.enta{
    background-color: rgb(55, 55, 55);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    z-index: -2;
}

.enta .cardTeste{
    width: 220px;
    height: 80px;
    background-color: rgb(30, 30, 30);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
}

.enta h1{
    color: rgb(37, 37, 37);
    text-shadow: rgba(36, 36, 36, 0.886) -1px 2px 3px, rgba(18, 18, 18, 0.598) 0 -1px, rgba(0, 0, 0, 0.187) 0 1px 3px;
    font-family: Arial;
}


.tudo{
    z-index: 100;

    top: 0;

    width: 100%;
    height: 100%;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;


    user-select: none;
    pointer-events: none;
}

.mord{
    width: 50px;
    height: 50px;
    background-color: #111;
    position: fixed;

    top: 90%;
    left: 90%;


    box-shadow: #060606bb  0 0 10px,#262626a2 inset 0 0 1px 5px;
    border: #fff 2px double;

    animation: rote 5s linear infinite;
}

@keyframes rote {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.callback{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.triangulos{

    top: 10%;
    position: relative;

    width: 200px;
    height: 250px;
    background-color: rgb(240, 240, 240);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    font-size: 14px;
    line-height: 1.5;

    border-radius: 30px;
    box-shadow: 4px 10px 13px rgba(0, 0, 0, 0.311), -4px -10px 15px #fffa,
    -2px -1px 13px 2px rgba(0, 0, 0, 0.111),
    5px 5px 13px inset #fffa, -5px -5px 11px 1px rgba(0, 0, 0, 0.211) inset;

}

.triangulos h2{
    margin-bottom: 20px;
    text-decoration-line: underline;
    text-decoration-color: rgb(0, 179, 255);
    text-decoration-style: wavy;
}

.triangulos input{

    background-color: rgb(225, 225, 225);

    width: 50px;
    border-radius: 4px;
    border: none;
    box-shadow: rgb(255, 255, 255)  0 8px 12px 0.1px;

    outline: none;

    text-align: center;
    padding: 3px;
}

.triD{
    top: 10%;
    position: relative;

    width: 200px;
    height: 50px;

    margin: 20px;
    background-color: rgb(240, 240, 240);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    font-size: 14px;
    line-height: 1.5;

    border-radius: 30px;
    box-shadow: 4px 10px 13px rgba(0, 0, 0, 0.311), -4px -10px 15px #fffa,
    -2px -1px 13px 2px rgba(0, 0, 0, 0.111),
    5px 5px 13px inset #fffa, -5px -5px 11px 1px rgba(0, 0, 0, 0.211) inset;
}

.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    margin-top: 50px;
    margin-bottom: 50px;

    font-family: Arial;

    background-color: rgb(255, 255, 255);

    width: clamp(500px, 90% , 900px);
    height: 440px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.283);

    border-radius: 5px;

    overflow: hidden;

    position: relative;
}

.flexbox .left{
    position: absolute;
    width: 40%;
    height: 100%;

    right: 60%;

    overflow: hidden;

    border-radius: 5px;
    
    background-image: url('/img/tom-roberts-eAqwgnC4iEM-unsplash.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    background-size: 800px;

    filter:  brightness(1.5);
}

.flexbox .right{
    width: 60%; 
    height: 100%;
    position: relative;
    
    margin-left: auto;

    border-radius: 5px;
}

.flexbox .right .top{
    width: 100%;
    height: 55px;
    
    top: 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox .right .top ul{
    list-style: none;
    display: flex;

    width: 100%;
    height: 90%;

    position: relative;
}

.flexbox .right .top ul li{
    margin: auto;
    background-color: rgb(255, 255, 255);
    
    color: rgb(254, 156, 134);
    font-size: 12px;
    
    height: 100%;
    width: 30%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

.flexbox .right .top ul li:first-of-type{
    border-bottom: rgb(255, 136, 109) 2px solid;
}


.flexbox .right .bottom{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    
    width: 100%;
    height: calc(100% - 55px);
    padding: 50px;
}

.flexbox .right .bottom h1{
    color: rgb(255, 98, 0);
    font-size: 20px;
    margin-left: auto;

    width: 100%;

    position: relative;

    margin: 15px
}

.flexbox .right .bottom p{
    font-size: 11px;
    color: rgb(159, 159, 159);

    text-align: justify;

    line-height: 1.5;
}

.flexbox .right .bottom .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    position: relative;

    width: fit-content;
    height: 210px;

    margin: 20px;
}

.flexbox .right .bottom .cards .card{
    border: 1px solid rgba(114, 114, 114, 0.256);
    
    width: 130px;
    height: 80px;

    margin: 10px;

    position: relative;

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

}

.flexbox .right .bottom .cards .card h1{
    color: rgb(255, 98, 0);
    font-size: 18px;
    
    text-align: center;
}

.flexbox .right .bottom .cards .card p{
    color: rgb(137, 137, 137);
}

.flexbox .right .bottom button{
    background-color: rgb(255, 98, 0);
    color: #fff;
    font-weight: 600;
    font-size: 13px;

    width: 280px;
    min-height: 30px;

    position: relative;
    bottom: 10px;

    border: none;
    border-radius: 3px;

    cursor: pointer;
}