*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --g3: rgb(31, 31, 31);
    --g2: rgb(21, 21, 21);
    --g1: rgb(239, 239, 239);
    --g0: rgb(255, 255, 255);
}


@keyframes fadeInPages {
    0%{
        opacity: 0%;
        top: 20px;
    }
    20%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
        top: 0;
    }
}

/* font */

@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/* fim font */

body{
    width: 100%;
    height: 100%;
    background-color: var(--g1);
    font-family: Arial;
}

h1{
    text-align: center;
    margin: 30px;
    color: var(--g2);
}

/* menu */


.menu{
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;
}

.menu ul{
    list-style: none;

    width: 45px;
    height: 45px;
    overflow: hidden;
    transition: 0.5s;

    box-shadow:  0 0 12px rgba(0, 0, 0, 0.345);
}

.menu ul:hover{
    width: 130px;
    height: 450px;
    transition: 0.5s;
    
}

.menu ul li{
    width: 130px;
    height: fit-content;
    position: relative;
}

.menu ul li a:hover{
    color: rgb(100, 68, 215);
    background-color: rgb(255, 255, 255);
}

.menu ul li a:hover::before{
    filter: invert(0);
    content:url('/img/ico.svg');
}

.menu ul li a{
    text-decoration: none;
    font-family: Arial;

    background-color: rgb(100, 68, 215);
    color: var(--g0);

    padding: 15px;

    display: flex;
    align-items: center;
    position: relative;

}

.menu ul li a::before{
    content:url('/img/ico.svg');
    filter: invert(1);
    width: 20px;
    height: 20px;
    margin-right: 10px;

    display: flex;
    padding: 2px;
    justify-content: center;
}

/* fim menu */

/* Página Index */

.test{
    width: 100%;
    height: fit-content;
    padding: 20px;
}

.test h1{
    margin: 0;
    text-align: start;
    margin-left: 10vh;
}

.test h2{
    margin: 0;
    text-align: start;
    margin-left: 10vh;

    border-bottom: 5px solid rgba(0, 255, 115, 0.6);
    width: fit-content;
    line-height: 1.9;
    color: rgb(63, 63, 63);
}

.pagesI{
    background-color: transparent;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;

    padding: 20px;

    list-style: none;
}

.pagesI a{
    color: rgb(255, 255, 255);
    text-decoration: none;

    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    
    position: relative;

    width: 300px;
    height: 50px;

        
    background-color: rgb(103, 68, 230);
    border-radius: 40px;

    margin: 10px;
}

.pagesI a:hover{
    background-color: rgb(96, 64, 212);
    cursor: pointer;
}

.pagesI a:active{
    background-color: rgb(89, 55, 209);
}

.pagesI a li{
    position: relative;
    width: 100%;
    height: 100%;

    
    display: flex;
    align-items: center;

    padding-left: 25px;
}


.tudo{
    z-index: 100;

    top: 0;

    width: 100%;
    height: 100%;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;


    user-select: none;
    pointer-events: none;
}

.mord{
    width: 50px;
    height: 50px;
    background-color: #111;
    position: fixed;

    top: 90%;
    left: 90%;


    box-shadow: #060606bb  0 0 10px,#262626a2 inset 0 0 1px 5px;
    border: #fff 2px double;

    animation: rote 5s linear infinite;
}

@keyframes rote {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* Fim página Index */

/* Page 1 */

.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    margin-top: 50px;
    margin-bottom: 50px;

    font-family: 'Lexend', sans-serif;

    background-color: rgb(255, 255, 255);

    width: clamp(80px, 90% , 900px);
    min-height: 440px;
    max-height: 520px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.283);

    border-radius: 5px;

    overflow: hidden;

    position: relative;

    animation: fadeInPages 0.5s linear;
}


.flexbox .left{
    position: absolute;
    width: 40%;
    height: 100%;

    right: 60%;

    overflow: hidden;

    border-radius: 5px;
    
    background-image: url('/img/tom-roberts-eAqwgnC4iEM-unsplash.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    background-size: 800px;

    filter:  brightness(1.5);
}

.flexbox .right{
    width: 60%; 
    height: 100%;
    position: relative;
    
    margin-left: auto;

    border-radius: 5px;
}

.flexbox .right .top{
    width: 100%;
    height: 55px;
    
    top: 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox .right .top ul{
    list-style: none;
    display: flex;

    width: 100%;
    height: 90%;

    position: relative;
}

.flexbox .right .top ul li{
    margin: auto;
    background-color: rgb(255, 255, 255);
    
    color: rgb(254, 156, 134);
    font-size: 12px;
    
    height: 100%;
    width: 30%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

.flexbox .right .top ul li:first-of-type{
    border-bottom: rgb(255, 136, 109) 2px solid;
}


.flexbox .right .bottom{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    
    width: 100%;
    height: calc(100% - 55px);
    padding: 20px 20px 20px 20px;
}

.flexbox .right .bottom h1{
    color: rgb(255, 98, 0);

    font-size: 20px;
    margin-left: auto;

    width: 100%;

    position: relative;

    margin: 15px
}

.flexbox .right .bottom p{
    font-size: 11px;
    color: rgb(159, 159, 159);

    text-align: justify;

    line-height: 1.5;
}

.flexbox .right .bottom .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    position: relative;

    width: fit-content;
    height: 210px;

    margin: 20px;
}

.flexbox .right .bottom .cards .card{
    border: 1px solid rgba(114, 114, 114, 0.256);
    
    width: 130px;
    height: 80px;

    margin: 10px;

    position: relative;

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

}

.flexbox .right .bottom .cards .card h1{
    color: rgb(255, 98, 0);
    font-size: 18px;
    
    text-align: center;
}

.flexbox .right .bottom .cards .card p{
    color: rgb(137, 137, 137);
}

.flexbox .right .bottom button{
    background-color: rgb(255, 98, 0);
    color: #fff;
    font-weight: 600;
    font-size: 13px;

    width: 280px;
    min-height: 30px;

    position: relative;
    bottom: 10px;

    border: none;
    border-radius: 3px;

    cursor: pointer;
}

/* Fim Page 1 */


/* Page 2 */



.black-200{
    width: 100%;
    height: 100vh;
    background-color: rgb(36, 40, 45);
    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadeInPages 0.3s linear;
}

.retangle{
    height: 650px;
    width: 350px;
    background-color: rgb(16, 16, 16);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.retangle .btn-c:active{
    box-shadow: inset rgb(0, 0, 0) 0px 4px 4px 1px, inset -5px -4px 5px 0.1px rgb(29, 29, 29),
     rgb(15, 15, 15) 0px 4px 4px 0.2px;
}

.retangle .btn-c:active img{
    transform: scale(0.95);
}

.retangle .btn-c{
    bottom: 7.5px;
    height: 50px;
    width: 50px;
    background-color: rgb(16, 16, 16);
    border-radius: 100%;
    border: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(0, 0, 0) 0px 4px 3px 1px, -2px -2px 3px 0.1px rgb(29, 29, 29), inset 0 0 3px rgb(18, 18, 18);
 
    cursor: pointer;
}

.retangle .interno{
    height: 560px;
    width: 335px;

    box-shadow: inset black 0 0 10px, rgb(30, 30, 30) 0 0 5px;

    background-color: #000000;

    margin-bottom: 40px;
    border-radius: 5px;

    transform-style: preserve-3d;
    perspective: 5;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    perspective: 10em;
    perspective-origin: 50% calc(50% - 2em);

    overflow: hidden;
}

.retangle .btn-c img{
    filter: invert(0.3);
    width: 20px;
    height: 20px;
}

.interno-2{
    filter: brightness(10) sepia(2) hue-rotate(10deg) contrast(1.5) invert(1);
}


.floor{


    transform:
    rotateX(95deg);

    position: sticky;

    bottom: 0;

    width: 300px;
    height: 600px;

    background-image: 

    radial-gradient(#0000, #000 50%),
    
    repeating-conic-gradient(
    from 45deg,
    #111 0deg 90deg, 
    #222 90deg 180deg);

    background-size: 100%, 1em 1em;
}


.cube{
    width: 5em;
    height: 5em;

    transform-style: preserve-3d;
    position: absolute;

    bottom: 40%;
    left: 45%;
    top: 300px;

    transition: 1s;
}


.cube .left,
.cube .right,
.cube .front,
.cube .back{

    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 0, 0, 0.427);

    box-shadow: 0 0 0.5em #000a inset;
}

.cube .front{ transform: translateZ(2.5em); }
.cube .right{ transform:  rotateY(90deg) translateZ(2.5em); }
.cube .back{ transform:  rotateY(180deg) translateZ(2.5em); }
.cube .left{ transform:  rotateY(270deg) translateZ(2.5em); }

.cube .top{
    position: absolute;

    width: 2em;
    height: 2em;

    transform: translateY(-50%) translateX(75%) rotateX(90deg) scale(2.5);

    background-color: rgba(255, 0, 0, 0.427);

}

.cube .bottom{
    position: absolute;
    
    width: 2em;
    height: 2em;

    background-color: #0007;

    bottom: 0;
    transform: translateY(50%) rotateX(90deg);

    box-shadow:  0 0 0.5em #000 inset;
}

/* Fim page 2 */

/* Page 3 */


.cards2{
    display: flex;
    flex-wrap: wrap;
    place-content: center;

    margin-top: 30vh;

    animation: fadeInPages 0.8s linear;

}

.cards2 .card{
    width: 300px;
    height: 300px;
    margin: 2px;
    padding: 10px;

    background: rgb(100, 68, 215);
    box-shadow:  0 10px 12px rgba(0, 0, 0, 0.181);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 6px;

    color: rgb(254, 254, 254);
}

.cards2 .card p{
   text-align: center;
   width: 220px;
   margin-top: 30px;
   margin-bottom: 30px;
   line-height: 1.5;
   font-size: 15px;
}

.cards2 .card h2{
    font-size: 25px;
}

.cards2 .card .btns{
    display: inline;
}

.cards2 .card button{
    background-color: var(--g0);
    border: none;
    width: 100px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    color: var(--g2);
    font-weight: 700;

    border: none;
}

.cards2 .card button:hover{
    background-color: rgb(223, 223, 223);
}


.cards2 .card h2::before{
    content: attr(data-attr);
}


/* Fim page 3 */

/* Page 4 */

.form{
    height: fit-content;
    width: 80%;
    margin: 10px auto 10px auto;

    animation: fadeInPages 1s linear;
}
.form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form .col{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.form label{
    position: relative;
    right: 20px;
    margin: 15px;
    font-family: Arial;

}

.form input{
    width: 150px;
    height: 24px;
    border: rgba(0, 0, 0, 0.605) 1px solid;
    border-radius: 4px;
    padding-left: 10px;
}

.form .col input[type=checkbox]{
    width: 15px;
    height: 15px;  
    margin: 5px 0 0 0;
}

.form .col input[type=checkbox]::after{

    content: attr(data-skill);
    margin-left: 20px;
}


.form .col.skills{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    margin: 10px;
    padding: 20px;
    position: relative;
}


.form .col.skills textarea{
    resize: none;
    width: 150px;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    
    border-radius: 6px;

}

.col-g{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/* Fim page 4 */

/* Page 5 */

.triangulos-box{

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    width: 100%;
    height: 100vh;

    animation: fadeInPages 1s linear;

}

.triangulos{

    top: 10%;
    position: relative;

    width: 200px;
    height: 250px;
    background-color: rgb(240, 240, 240);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    font-size: 14px;
    line-height: 1.5;

    border-radius: 30px;
    box-shadow: 4px 10px 13px rgba(0, 0, 0, 0.311), -4px -10px 15px #fffa,
    -2px -1px 13px 2px rgba(0, 0, 0, 0.111),
    5px 5px 13px inset #fffa, -5px -5px 11px 1px rgba(0, 0, 0, 0.211) inset;

}

.triangulos h2{
    margin-bottom: 20px;
    text-decoration-line: underline;
    text-decoration-color: rgb(0, 179, 255);
    text-decoration-style: wavy;
}

.triangulos input{

    background-color: rgb(225, 225, 225);

    width: 50px;
    border-radius: 4px;
    border: none;
    box-shadow: rgb(255, 255, 255)  0 8px 12px 0.1px;

    outline: none;

    text-align: center;
    padding: 3px;
}

.triD{
    top: 10%;
    position: relative;

    width: 200px;
    height: 50px;

    margin: 20px;
    background-color: rgb(240, 240, 240);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    font-size: 14px;
    line-height: 1.5;

    border-radius: 30px;
    box-shadow: 4px 10px 13px rgba(0, 0, 0, 0.311), -4px -10px 15px #fffa,
    -2px -1px 13px 2px rgba(0, 0, 0, 0.111),
    5px 5px 13px inset #fffa, -5px -5px 11px 1px rgba(0, 0, 0, 0.211) inset;
}

/* Fim page 5 */

/* Page 6 */

.callback{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    height: 100vh;
}

.callback p{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 255, 64, 0.349);

    border: 1px solid rgba(255, 255, 255, 0.164);

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    padding: 13px 35px;
    border-radius: 14px;

    width: fit-content;

    font-family: 'Lexend' 'sans-serif';

    margin: 3px;

    position: relative;
    z-index: 3;

    animation: fadeIn 2s linear;
}

@keyframes fadeIn {
    0%{
        opacity: 0%;
        top: 20px;
    }
    80%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
        top: 0;
    }
}

.callback p:last-of-type{
    background-color: rgba(255, 78, 78, 0.719);
    animation: fadeIn 2.5s linear;
}


@keyframes fadeInSemTop {
    0%{
        opacity: 0%;

    }
    30%{
        opacity: 0%;

    }
    100%{
        opacity: 100%;
    }
}
.background-page8{

    animation: fadeInSemTop 1s linear;


    width: 100%;
    height: 100vh;
    background: linear-gradient(34deg,  #a0e9ff 20%, rgb(89, 222, 255));

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    position: relative;

    overflow: hidden;
}

.background-page8::before{
    content: '';
    display: flex;

    background: rgb(201, 255, 140);
    width: 30vh;
    height: 30vh;

    margin-left: clamp(3rem,25rem, 30rem);
    margin-bottom: clamp(20vh, -40vh, 40vh);

    position: absolute;

    border-radius: 60%;
    z-index: 1;
}

.background-page8::after{
    content: '';
    display: flex;
    background-color: #029EFF;
    width: 20vh;
    height: 20vh;
    
    margin-right: 50vh;
    margin-top: 40vh;

    position: absolute;

    border-radius: 60%;
    z-index: 1;
}

.box-in{
    background: linear-gradient(-40deg, rgba(89, 222, 255, 0.364), rgba(255, 255, 255, 0.398));

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: clamp(130px, 53vh, 60vh);
    height: clamp(130px, 35vh, 60vh);
    padding: 20px;

    border-radius: 20px;

    box-shadow: rgba(14, 131, 160, 0.213) 10px 10px 23px, inset 0px 0px 1px 1px rgba(255, 255, 255, 0.364);
    z-index: 2;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.box-in input{
    border: 1.5px solid rgba(255, 255, 255, 0.405);
    border-radius: 20px;

    box-shadow: 2px -2px 4px rgba(255, 255, 255, 0.213);

    color: #fff;
    
    height: 35px;
    width: 190px;

    margin: 10px;

    outline: none;

    background-color: rgba(255, 255, 255, 0.104);

    text-align: center;
}

.box-in input::placeholder{
    color: rgba(255, 255, 255, 0.624);
    text-shadow: 1px 1px 2px rgba(194, 194, 194, 0.993);
}

#seunomeresult{
    user-select: none;
    pointer-events: none;

    border: none;
    background-color: transparent;
    
    height: 25px;
    width: 150px;
    padding: 0;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: 5px;

    box-shadow: none;

    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 7px rgba(19, 131, 235, 0.604);
}

#seunomeresult::placeholder{
    color: rgba(255, 255, 255, 0.617);
}

/* Fim page 6 */

/* Page 7 */


.content{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadeInPages 1s linear;
}

.content input[type=number]{
    border-radius: 5px;
    border: none;
    height: 25px;
    outline: none;
    padding-left: 10px;
}

.content .cartao{
    background-color: rgb(134, 69, 203);
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow:  0 0 14px rgba(58, 58, 58, 0.29);
    border: 2px solid rgba(255, 255, 255, 0.808);
    margin: 20px;
    color: #fff;
}

.content .cartao fieldset{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
    top: 25px;
}

.content .cartao fieldset input{
    margin: 5px;

    border-radius: 14px;
    border: none;

    height: 20px;
    width: 160px;
}

.cartao h3{
    text-align: center;
}


#p, #q{
    margin: 0px 0px 30px 0px;
    border: rgb(118, 118, 118) 1px dashed;
    padding: 10px;

    animation: fadeInPages 1s linear;
}

.btnS{
    animation: fadeInPages 1s linear;

}

/* Fim page 7 */

/* page 8 */

.callback{
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeInPages 1s linear;
}

.callback .arrays{
    box-shadow: 0 0 15px rgba(155, 155, 155, 0.282);
    border-radius: 30px;

    margin-top: 30px;
    
    padding: 30px;

    line-height: 2;

    margin-left: 10px;
    margin-right: 10px;
}

.callback .arrays span{
    word-break:break-all;

    margin-left: 30px;
    margin-right: 30px;

    font-family: 'Lexend' sans-serif;
    font-weight: 600;

    color: rgb(84, 83, 83);

    padding: 20px;
}

.callback .box-in-2{
    background-color: rgba(216, 216, 216, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;

    width: fit-content;
    height: fit-content;
    padding: 20px;

    border-radius: 5px;

    box-shadow: rgba(116, 116, 116, 0.027) 10px 10px 23px;

    color: rgb(90, 90, 90);
    font-family: 'Lexend' 'sans-serif';
    font-weight: 600;

    word-break: break-all;

    margin: 0;
}

.callback .box-in-2 .outResult{
    position: relative;

    width: 100%;
    height: 100%;
}

.callback .box-in-2 span{
    color: rgb(2, 2, 2);
    margin: 10px;
}


.callback .box-in-2 input{
    padding: 5px;
    
    margin: 15px;
    
    border: none;
    
    border-radius: 5px;
    outline: none;
}

.callback .box-in-2 button{
    border: none;
    border-radius: 50px;

    background-color: #000;
    padding: 8px 40px;


    margin: 10px;

    cursor: pointer;

    color: rgb(255, 255, 255);
    font-family: 'Lexend' sans-serif;
    font-weight: 600;
}


.callback .box-in-2 .outResult button:hover{
    background-color: rgb(26, 26, 26);
    color: #fff;
}

.callback .box-in-2 .outResult button:last-of-type{
    background-color: transparent;
    color: rgb(47, 65, 55);
}

.outResult{
    position: relative;
    width: 100%;
    height: 300px;

    background-color: transparent;
    z-index: 1;

}


.callback .box-in-2 .outResult .box-result{
    width: 90vw;
    height: 300px;

    border: 1px rgb(197, 197, 197) solid;

    margin-top: 20px;
    margin-bottom: 20px;

    padding: 20px;

    display: flex;
    align-items: center;

    overflow-x: scroll;
    overflow-y: hidden;

    cursor: grab;

    position: relative;
}

.callback .box-in-2 .outResult .box-result:active{
    cursor: grabbing;
}

.box-result::-webkit-scrollbar{
    background-color: transparent;
    z-index: 10;
}

.callback .box-in-2 .outResult::-webkit-scrollbar{
    height: 0px;
    background-color: rgba(89, 89, 89, 0.124);
    transition: 1s;
    
    background-color: transparent;
    z-index: -20;
}

.callback .box-in-2 .outResult::-webkit-scrollbar:hover{
    cursor: grabbing;
    display: none;

    transition: 2s;
}
   

.callback .box-in-2 .outResult :hover::-webkit-scrollbar{
    transition: 1s;
    height: 105px;

    background-color: none;

    opacity: 0%;
}

.callback .box-in-2 .outResult :active::-webkit-scrollbar{
   z-index: -100;
}

.callback .box-in-2 .outResult::-webkit-scrollbar-thumb{
    background-color: transparent;
    opacity: 0%;
    z-index: -1;
}


.callback .box-in-2 .outResult .box-result .result{
    font-family: 'Lexend' sans-serif;

    color: #222;
}

.callback .box-in-2 .outResult .box-result:hover .card{

    margin-top: 99px;
    position: relative;
}

.callback .box-in-2 .outResult .box-result .card{
    width: 120px;
    max-width: 120px;
    min-width: 120px;

    height: 100px;
    min-height: 100px;
    max-height: 100px;
    
    margin: 10px;

    background-color: #fff;
    box-shadow: 0 0 13px #b1b1b115;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    padding: 10px;

    position: relative;

    z-index: 30000;
    /* pointer-events: none;
    user-select: none; */
}

/* Fim page 8 */

/* Global Elementos */

.line{
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.208);
    margin: 50px auto 50px auto;
}

/* Fim global Elementos */



/* Media */

@media only screen and (max-width: 600px) {
    .flexbox .left{
        display: none;
    }
    
    .flexbox .right{
        width: 100%;
        top: 10px;
    }
    
    .flexbox .right .bottom{
        padding-top: 50px;
    }
    
    .flexbox .right .bottom h1{
        margin-top: 0;
    }
}

/* Fim media */