.container{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

}

/* Página Index */
.test {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 20px;
}

.test h1 {
    margin: 0;
    text-align: start;
    margin-left: 10vh;
}

.test h2 {
    text-align: start;

    border-bottom: 5px solid rgba(0, 255, 115, 0.6);
    width: fit-content;
    line-height: 1.9;
    color: rgb(63, 63, 63);
}

.pages {
    position: relative;

    border-radius: 10px;
    overflow: hidden;

    max-width: 300px;
    margin: 100px 0;
    width: 100%;

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.112);

    li {
        position: relative;
        list-style: none;
        width: 100%;
        display: flex;
        
        a {
            position: relative;
            text-decoration: none;

            width: 100%;
            height: 100%;

            padding: 15px;

            background-color: var(--g0);
            color: rgb(58, 75, 137);

            &:hover{
                background-color: var(--g1);
            }
        }
    }
}