.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .fruits{
        background-color: rgb(27, 29, 30);
        border-radius: 14px;
        padding: 15px;
        
        .fruit{
            margin: 10px;
            
            .name{
                color: #fff;
            }
            .percent{
                color: #fff;
                background-color: rgb(44, 44, 48);
                border-radius: 30px;
                width: 100px;
                height: 20px;

            }
        }
    }
}