

/* Page 6 */

.callback{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    height: 100vh;
}

.callback p{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 255, 64, 0.349);

    border: 1px solid rgba(255, 255, 255, 0.164);

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    padding: 13px 35px;
    border-radius: 14px;

    width: fit-content;

    font-family: 'Lexend' 'sans-serif';

    margin: 3px;

    position: relative;
    z-index: 3;

    animation: fadeIn 2s linear;
}

@keyframes fadeIn {
    0%{
        opacity: 0%;
        top: 20px;
    }
    80%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
        top: 0;
    }
}

.callback p:last-of-type{
    background-color: rgba(255, 78, 78, 0.719);
    animation: fadeIn 2.5s linear;
}


@keyframes fadeInSemTop {
    0%{
        opacity: 0%;

    }
    30%{
        opacity: 0%;

    }
    100%{
        opacity: 100%;
    }
}
.backgroundPage8{

    animation: fadeInSemTop 1s linear;


    width: 100%;
    height: 100vh;
    background: linear-gradient(34deg,  #a0e9ff 20%, rgb(89, 222, 255));

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    position: relative;

    overflow: hidden;
}

.backgroundpPge8::before{
    content: '';
    display: flex;

    background: rgb(201, 255, 140);
    width: 30vh;
    height: 30vh;

    margin-left: clamp(3rem,25rem, 30rem);
    margin-bottom: clamp(20vh, -40vh, 40vh);

    position: absolute;

    border-radius: 60%;
    z-index: 1;
}

.backgroundpPge8::after{
    content: '';
    display: flex;
    background-color: #029EFF;
    width: 20vh;
    height: 20vh;
    
    margin-right: 50vh;
    margin-top: 40vh;

    position: absolute;

    border-radius: 60%;
    z-index: 1;
}

.boxin{
    background: linear-gradient(-40deg, rgba(89, 222, 255, 0.364), rgba(255, 255, 255, 0.398));

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: clamp(130px, 53vh, 60vh);
    height: clamp(130px, 35vh, 60vh);
    padding: 20px;

    border-radius: 20px;

    box-shadow: rgba(14, 131, 160, 0.213) 10px 10px 23px, inset 0px 0px 1px 1px rgba(255, 255, 255, 0.364);
    z-index: 2;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.boxin input{
    border: 1.5px solid rgba(255, 255, 255, 0.405);
    border-radius: 20px;

    box-shadow: 2px -2px 4px rgba(255, 255, 255, 0.213);

    color: #fff;
    
    height: 35px;
    width: 190px;

    margin: 10px;

    outline: none;

    background-color: rgba(255, 255, 255, 0.104);

    text-align: center;
}

.boxin input::placeholder{
    color: rgba(255, 255, 255, 0.624);
    text-shadow: 1px 1px 2px rgba(194, 194, 194, 0.993);
}

#seunomeresult{
    user-select: none;
    pointer-events: none;

    border: none;
    background-color: transparent;
    
    height: 25px;
    width: 150px;
    padding: 0;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: 5px;

    box-shadow: none;

    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 7px rgba(19, 131, 235, 0.604);
}

#seunomeresult::placeholder{
    color: rgba(255, 255, 255, 0.617);
}

/* Fim page 6 */